body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

button {
  border: none;
  transition: 150ms;
}

button:hover {
  cursor: pointer;
  scale: 1.05;
}

a, a:visited {
  text-decoration: none;
}

a:visited {
  color: unset;
}

input[type="text"], input[type="email"], input[type="password"] {
  color: black;
  padding: 12px 17px;
  width: 100%;
  margin-top: 5px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px rgba(128, 128, 128, 0.256) solid;
}
